@import 'variables'
@import 'mixins'

main
    .container
        width: 90%
        display: flex
        justify-content: space-between
        align-items: center
    .word
        border-radius: 20px
        margin: 2rem 2rem 2rem 0
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    h1
        margin-bottom: 1rem
    p
        margin-bottom: 10px
    a
        color: $primary-orange
        text-decoration: underline
