
.fotter
{
    background-image: url("../img/FotterBg.png");
    background-size:cover;
    height: 400px;
}


.fotSocial
{
    font-size: 25px;
    padding-top: 150px;
    padding-left:250px;
}

.p90
{
    padding-top: 190px;
}

@media screen and (max-width:501px)
{
    .fotSocial
    {
        padding: 0;
    }
}

.container
{
    max-width:1250;
}